<mat-card>
    <mat-card-content><mat-form-field class="example-full-width">
      <mat-label>Value</mat-label>
      <input matInput type ="text" [(ngModel)]="book.value" >
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
      <mat-label>Book Name</mat-label>
      <input  matInput type ="text" [(ngModel)]="book.viewvalue" >
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Author</mat-label>
      <input matInput type ="text"[(ngModel)]="book.author" >
    </mat-form-field>
    <button mat-raised-button  class="buttonss"(click)="addBook()" (click)="resetInput()" >Create</button>

    </mat-card-content>
    
</mat-card>
<table mat-table [dataSource]="book.booknames" class="mat-elevation-z8" >

    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef> Value </th>
      <td mat-cell *matCellDef="let element"  (click)="setForm(element)"> 
      {{element.value}} </td>
    </ng-container>
    <ng-container matColumnDef="viewvalue">
      <th mat-header-cell *matHeaderCellDef> Book Name </th>
      <td mat-cell *matCellDef="let element"> {{element.viewvalue}} </td>
    </ng-container>
    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef> Author </th>
      <td mat-cell *matCellDef="let element"> {{element.author}} </td>
    </ng-container>
    
    <ng-container matColumnDef="mode">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"> <button mat-raised-button class="button-edit" (click)="updateBook(element.id)"><mat-icon style="background-color: palevioletred;">edit</mat-icon></button> <button mat-raised-button class="button-edit2"(click)="deletea(element.id)">
        <mat-icon style="background-color:palevioletred;">delete</mat-icon></button>
    </ng-container>
  
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>