.example-form {
    min-width: 150px;
    width: 100%;
  }
  
  .example-full-width {
    height: 50px;
    width: 98% !important;
  }

  mat-card {
    width: 350px  ;
    
  }
  table {
    width: 100%;
  }
  .button-edit{
    background-color: palevioletred;
  }
  .button-edit2{
    background-color: purple;
  }