<mat-card>
  <mat-card-content>
    <mat-form-field appearance="fill">
      <mat-label>BookName</mat-label>
      <mat-select [(ngModel)]="loan.bookname" (selectionChange)="eventSelection($event.value)">
        <mat-option *ngFor="let bookname of book.booknames" [value]="bookname" >
          {{bookname.viewvalue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Authors</mat-label>
    <input  matInput type ="text" [(ngModel)]="loan.author"  readonly >
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Loan Date</mat-label>
    <input matInput [matDatepicker]="date1" [value]="date.value" [(ngModel)]="loan.loanDate" >
    <mat-datepicker-toggle matSuffix [for] ="date1"></mat-datepicker-toggle>
    <mat-datepicker #date1></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Return Date</mat-label>
    <input matInput [matDatepicker]="date2" [value]="date.value" [(ngModel)]="loan.returnDate" >
    <mat-datepicker-toggle matSuffix [for] ="date2"></mat-datepicker-toggle>
    <mat-datepicker #date2></mat-datepicker>
  </mat-form-field>
  <button (click)="addLoan(loan.id)">Create</button><br><br></mat-card-content>
</mat-card>

  


<table mat-table [dataSource]="dataLoan" class="mat-elevation-z8" >

  <ng-container matColumnDef="no">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef> Author </th>
    <td mat-cell *matCellDef="let element"> {{element.author}} </td>
  </ng-container>
  <ng-container matColumnDef="bookname">
    <th mat-header-cell *matHeaderCellDef> BookName </th>
    <td mat-cell *matCellDef="let element"> {{element.bookname}} </td>
  </ng-container>
  <ng-container matColumnDef="loandate">
    <th mat-header-cell *matHeaderCellDef> Loan Date </th>
    <td mat-cell *matCellDef="let element"> {{element.loanDate}} </td>
  </ng-container>
  <ng-container matColumnDef="returndate">
    <th mat-header-cell *matHeaderCellDef> Return Date </th>
    <td mat-cell *matCellDef="let element"> {{element.returnDate}} </td>
  </ng-container>
 


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
