<mat-card>
  <mat-card-content><mat-form-field class="example-full-width">
    <mat-label>Username</mat-label>
    <input matInput type ="text" [(ngModel)]="user.name" >
  </mat-form-field>
  
  <mat-form-field class="example-full-width">
    <mat-label>email</mat-label>
    <input  matInput type ="text" [(ngModel)]="user.email" >
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Id Card</mat-label>
    <input matInput type ="text"[(ngModel)]="user.idCardNumber" >
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Phone Number</mat-label>
    <input matInput type ="text" [(ngModel)]="user.phoneNumber">
  </mat-form-field>
  <button mat-raised-button [disabled]="(!user.name || !user.email || !user.idCardNumber || !user.phoneNumber)" class="buttonss"(click)="create()" (click)="resetInput()" >Create</button><br><br></mat-card-content>
</mat-card>

<div>
<table mat-table [dataSource]="get" class="mat-elevation-z8" style="border-block: 2;" >

  <ng-container matColumnDef="no">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element; let i = index;" (click)="setForm(element)"> {{i+1}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"  (click)="loanBook(element.id)"> 
    {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>
  <ng-container matColumnDef="idcard">
    <th mat-header-cell *matHeaderCellDef> Id Card </th>
    <td mat-cell *matCellDef="let element"> {{element.idCardNumber}} </td>
  </ng-container>
  <ng-container matColumnDef="phonenumber">
    <th mat-header-cell *matHeaderCellDef> Phone Number </th>
    <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
  </ng-container>
  <ng-container matColumnDef="mode">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element"> <button mat-raised-button class="button-edit" (click)="update(element.id)"><mat-icon style="background-color: palevioletred;">edit</mat-icon></button> <button mat-raised-button class="button-edit2"(click)="deletea(element.id)">
      <mat-icon style="background-color:palevioletred;">delete</mat-icon></button>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="display"></tr>
  <tr mat-row *matRowDef="let row; columns: display;"></tr>
</table>




