.example-form {
    min-width: 150px;
    width: 100%;
  }
  
  .example-full-width {
    height: 50px;
    width: 98% !important;
  }
  table {
    width: 100%;
  }
  .button-edit{
    background-color: palevioletred;
  }
  .button-edit2{
    background-color: palevioletred;
  }
  .mat-elevation-z8{
    position: relative;
    bottom: -50px;
  }
  .hiddenInput{
    display: block;
    visibility: hidden;
    height: 0;
    width: 0;
  }

  .buttonss {
    background-color: palevioletred;
  }

  