<mat-toolbar color="primary">Library Admin
<span class="spacer"></span>
<button mat-button color="accent" routerLink='user'>User</button>
<button mat-button color="accent" routerLink='book'>Books</button>
</mat-toolbar>
